<div class="center jumbotron">
  <h1>Welcome to the Bidding App</h1>

  <h2>
    This is the home page for the bidding application.
  </h2>

  <%= link_to "Sign up now!", '/signup', class: "btn btn-lg btn-primary" %>
</div>
