<header class="navbar navbar-fixed-top navbar-inverse">
 <div class="container">
   <%= link_to "bidding app", '#', id: "logo" %>
   <nav>
     <ul class="nav navbar-nav navbar-right">
       <li><%= link_to "Home",   root_path %></li>
       <li><%= link_to "Help",   help_path %></li>
       <% if logged_in? %>
       <% if current_user.admin? %>
       <li><%= link_to "Users", users_path%></li>
       <% end %>
       <li><%= link_to "Log out", logout_path, method: "delete" %></li>
       <% else %>
        <li><%= link_to "Log in", login_path %></li>
       <% end %>
     </ul>
   </nav>
 </div>
</header>
